{:engram.db/conn        {:path "data/engram"}
 :engram.db/migrated    {:conn #ig/ref :engram.db/conn
                         :path "data/engram"}
 :engram.config/config  {:path "deploy/engram-config.example.edn"}
 :engram.stats/writer   {:conn   #ig/ref :engram.db/migrated
                         :config #ig/ref :engram.config/config}
 :engram.web/handler    {:db     #ig/ref :engram.db/migrated
                         :config #ig/ref :engram.config/config
                         :writer #ig/ref :engram.stats/writer}
 :engram.web/server     {:handler #ig/ref :engram.web/handler
                         :port 8080}}
